body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#list {
    margin-left: -15px;
    margin-right: -15px;
    padding: 3px 15px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #0088CC;
    text-decoration: none;
    display: block;
}

label {
    display: block;
}

label:hover,
label:focus {
    color: #005580;
    background-color: #eeeeee;
}

button {
    font-family: inherit;
    text-transform: none;
}

.btn {
    background-image: none;
    border: 1px solid transparent;
    border-top-width: 1px;
    border-right-width-value: 1px;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-bottom-width: 1px;
    border-left-width-value: 1px;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-top-style: solid;
    border-right-style-value: solid;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-bottom-style: solid;
    border-left-style-value: solid;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    padding: 6px 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

#save {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}

#open {
    background-color: #428BCA;
    border-color: #357EBD;
    color: #FFFFFF;
}

#save:hover,
#save:focus,
#save:active {
  color: #ffffff;
  background-color: #47A447;
  border-color: #398439;
}

#open:hover,
#open:focus,
#open:active {
  color: #ffffff;
  background-color: #3276B1;
  border-color: #357EBD;
}